@font-face {
    font-family: reitam;
    src: url("reitam.otf") format("opentype");
}

#top {
    display: flex;
    align-items: center;
    justify-content: center;
}

#icon {
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

#detail {
    margin-left: 30px;
}

.name {
    font-family: "reitam";
}

#detail span {
    font-size: 1.2rem;
    color: #b5b5b5;
}

#main {
    text-align: center;
}

a {
    text-decoration: none;
}

#datail-box {
    text-align: center;
    font-family: "Noto Sans JP", sans-serif;
}

body {
    background-color: #00d1b20f;
}

#top-title {
    font-family: Roboto;
}

#top {
    margin: 10px 300px;
    padding: 10px;
    border: solid 1px black;
}
